<h1>Edit Location</h1>

<%= render 'form', location: @location %>

  <%= link_to @location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Delete
  <% end %>